doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Home
      link(rel="stylesheet", href="/css/styles.css")
      link(rel="stylesheet", href="/css/normalize.css")
      <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
   body 
        include ./header
        h2 Panel De Control

        section 
            form.searchForm(action="/dashboard" method="GET")
                input#btnSignup(type="submit", value="Administrar Anuncios")
            form.searchForm(action="/user" method="GET")
                input#btnSignup(type="submit", value="Administrar Usuarios")

        script(src="/js/dropdown_menu.js") 