doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ads
    body 
        h1 Esto son todas las ofertas de trabajo
        each offers in result
            p #{offers.title}
            p #{offers.companyName}
            p #{offers.salary}
            hr
            
    //- h1 Crear Oferta
    //-     form(action="/dash" method="POST")
    //-         input#inputFormHome(type='text' name='offer1' placeholder='Nombre Oferta' required='')
    //-         br
    //-  h1 Editar oferta
    //-     form(action="/update" method="PUT")
    //-         input#inputFormHome2(type='text' name='offer2' placeholder='Busque por nombre..' required='')
    //-         br
    //- h1 Borrar oferta 
    //-     form(action="/delete" method="DELETE")
    //-         input#inputFormHome2(type='text' name='offer3' placeholder='Busque por nombre..' required='')
    //-         br
    //-         input#btnSearchHome(type='submit')