doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Home
      link(rel="stylesheet", href="/css/styles.css")
   body 
         include ./header
         section 
            h1 #{error.title || 'Ha ocurrido un error inesperado'}
            h3 #{error.message || 'Por favor, vuelva a intentarlo'} 
            img.error-image(src=error.url, alt="error") 
         script(src="/js/dropdown_menu.js") 