header 
    nav.navbar
        section
             h3 nuestra web
        section#myMenu.dropdown 
            span#buttonX(href="javascript: void(0)") &times;
            div.dropdown-list
                a(href="/") Home 
                - let state = 'admin'
                case state 
                    when 'user'
                        a(href="/favorites") Favorites
                        a(href="/profile") Profile 
                        a(href="/logout") Logout
                    when 'admin'
                        a(href="/dashboard") Dashboard
                        a(href="/users") Users 
                        a(href="/profile") Profile
                        a(href="/logout") Logout
                    default     
                        a(href="/register") Sign Up
                        a(href="/login") Login
                
        span#hamburger &#9776;
            