header 
    nav.navbar
        section
             h3 nuestra web
        section#myMenu.dropdown 
            span#buttonX(href="javascript: void(0)") &times;
            div.dropdown-list
                a(href="/") Home
                case role 
                    when 2
                        a(href="/favorites") Favorites
                        a(href="/profile") Profile 
                        a(href="/logout") Logout
                    when 1
                        a(href="/dashboard") Dashboard
                        a(href="/users") Users 
                        a(href="/profile") Profile
                        a(href="/logout") Logout
                    default     
                        a(href="/signup") Sign Up
                        a(href="/login") Login
                
        span#hamburger &#9776;
            