doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Home
      link(rel="stylesheet", href="/css/styles.css")
   body 
         include ./header
         h1 Buscar Oferta
         form.searchForm(action="/api/search" method="POST")
            label(for="keywordSearch") Busco ofertas de...
            input#keywordSearch(type='text' name='keywordSearch' placeholder='Puesto, empresa o palabra clave' required='')

            label(for="locationSearch") En...
            input#locationSearch(type='text' name='locationSearch' placeholder='Toda España')
  
            input.btnSearch(type='submit' value="Buscar")
         script(src="/js/dropdown_menu.js") 