doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Log In
        link(rel="stylesheet", href="/css/styles.css")
    body 
        include ./header
        h1 Accede como candidato
 
        form#loginForm(action="/api/login" method="POST")
            label(for="loginEmail") Email
            input#loginEmail(type='email' name='loginEmail' placeholder='email' required)

            label(for="loginPassword") Contraseña
            input#loginPassword(type='password' name='loginPassword' placeholder='contraseña' required)

            input.btnLogin(type='submit' value='Acceder')
        script(src="/js/script.js")
         