doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/styles.css")
    body 
    h2 Accede como candidato

    h3 Email  
    form#loginForm(action="/api/login" method="POST")
        label(for="loginEmail") 
        input#loginEmail(type='email' name='loginEmail' placeholder='email' required)

        label(for="loginPassword") 
        input#loginPassword(type='password' name='loginPassword' placeholder='contraseña' required)

        input#btnSearchLogin(type='submit' value='Login')
         