doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
     h2 Accede como candidato
        br
       
        h3  Email  
         form(action="/login" method="POST")
         input#inputFormlogin(type='email' name='search1' placeholder='email' required='')
         br
         h3 Contraseña
         input#inputLogin2(type='text' name='search2' placeholder='contraseña' required='')
         br
         br
         input#btnSearchLogin(type='submit')
         