doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Log In
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="/css/normalize.css")
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    body 
        include ./header
      
        h2 Accede como candidato
        include ./messages
        
        form#loginForm.containerForm(action="/api/login" method="POST")
            label(for="loginEmail") Email
            input#loginEmail(type='email' name='loginEmail' value=typeof loginEmail != 'undefined' ? loginEmail : '' placeholder='email' required)

            label(for="loginPassword") Contraseña
            input#loginPassword(type='password' name='loginPassword' value=typeof loginPassword != 'undefined' ? loginPassword : '' placeholder='contraseña' required)

            input#btnSignup(type='submit' value='Acceder')
        script(src="/js/dropdown_menu.js")
         