if typeof errors != 'undefined'
    each error in errors
        span #{error.msg}

if typeof error_msg != 'undefined'
    span #{error_msg}

if typeof succes_msg != 'undefined'
    span #{succes_msg}