doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sign Up
        link(rel="stylesheet", href="/css/styles.css")
    body 
        include ./header
        h1 Crea tu cuenta 
        
        form(action="/api/user" method="POST")
            h3  Datos de Usuario

            label(for="nameSignup") Nombre y Apellido
            input#nameSignup(type='text' name='nameSignup' placeholder='Nombre' required='')
        
            label(for="emailSignup") Email
            input#emailSignup(type='email' name='emailSignup' placeholder='Email' required='')

            label(for="passwordSignup") Contraseña
            input#passwordSignup(type='password' name='passwordSignup' placeholder='Contraseña' required='')

            label(for="ageSignup") Edad
            input#ageSignup(type='number' name='ageSignup' placeholder='edad' required='')

            label(for="tlfSignup") Teléfono (+34)
            input#tlfSignup(type='text' name='tlfSignup' placeholder='tlf' maxlength='9' required='')

            label(for="dniSignup") DNI
            input#dniSignup(type='text' name='dniSignup' placeholder='dni' maxlength='9' required='')

            input#btnSignup(type='submit' value='Crear Cuenta')
        script(src="/js/script.js")