doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h2 Crea tu cuenta 
        br
        h3  Datos personales
        form(action="/api/user" method="POST")
            p Nombre
            input#inputFormSignup(type='text' name='nameSignup' placeholder='nombre' required='')
            br
            p Email
            input#inputSignup2(type='email' name='emailSignup' placeholder='email' required='')
            br
            p Contraseña
            input#inputSignup3(type='password' name='passwordSignup' placeholder='contraseña' required='')
            br
            p Edad
            input#inputSignup4(type='text' name='ageSignup' placeholder='edad' required='')
            br
            p Teléfono 
            input#inputSignup4(type='text' name='tlfSignup' placeholder='tlf' required='')
            br
            p DNI
            input#inputSignup4(type='text' name='dniSignup' placeholder='dni' required='')
            br
            input#btnSearchSignup(type='submit')
