doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h2 Crea tu cuenta 
        br
        h3  Datos personales
        form(action="/user" method="POST")
         input#inputFormSignup(type='text' name='name' placeholder='nombre' required='')
         br
         input#inputSignup2(type='email' name='email' placeholder='email' required='')
         br
         input#inputSignup3(type='password' name='password' placeholder='contraseña' required='')
         br
         input#inputSignup4(type='text' name='age' placeholder='edad' required='')
         br
         input#inputSignup4(type='text' name='tlf' placeholder='tlf' required='')
         br
         nput#inputSignup4(type='text' name='dni' placeholder='dni' required='')
         br
         input#btnSearchSignup(type='submit')
